[submodule "src/uuv_simulation_evaluation"]
	path = src/uuv_simulation_evaluation
	url = https://github.com/lmartim4/uuv_simulation_evaluation.git
[submodule "src/rexrov2"]
	path = src/rexrov2
	url = https://github.com/uuvsimulator/rexrov2.git
[submodule "src/uuv_simulator"]
	path = src/uuv_simulator
	url = https://github.com/uuvsimulator/uuv_simulator.git
